// mixin classes //
@mixin flexCenterRow(){
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}
// css reset //
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Noto Sans','Times New Roman', Times, sans-serif;
}
body{
}
li{
    list-style-type: none;
}
button{
    background-color: #fff;
}
// base styles - mobile //
:root{
    --primary: #94a3b8;
    --secondary:#e2e8f0;
}
header{
    @include flexCenterRow();
    background-color: var(--primary);
    .page-title{
        margin: 20px 0;
    }
}
main{
    padding: 20px;
    .message{
        @include flexCenterRow();
        
    }
    .grid{
        display:grid;
        grid-template-columns: repeat(3,minmax(75px,1fr));
        grid-template-rows: repeat(3,minmax(75px,1fr));
        border: 1px solid black;
        .grid-item{
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:3rem;
        }
        .grid-item:nth-child(n-1){
            border-right: 1px solid black;
        }
        .grid-item:nth-child(3n),.grid-item:nth-child(n){
            border-bottom: 1px solid black;
        }
    }
    .buttons{
        @include flexCenterRow();
    }
}

footer{
    @include flexCenterRow();
    background-color: var(--primary);
    position:fixed;
    bottom:0;
    width:100%;
    .footer-strip{
        margin:10px;
    }
}

// small table styles //
@media screen and (min-width:620px){

}

/* large tablet and laptops */
@media screen and (min-width:960px){

}

/* desktop styles */
@media screen and (min-width:1200px){

}

/* large desktop styles */
@media screen and (min-width:1500px){

}