// mixin classes //
@mixin flexCenterRow(){
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}
// css reset //
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Noto Sans','Times New Roman', Times, sans-serif;
}
li{
    list-style-type: none;
}
button{
    background-color: #fff;
}
// base styles - mobile //
:root{
    --primary: #94a3b8;
    --secondary:#e2e8f0;
    --bg:#f5f5f4;
    --hover:#e2e8f0;
}
header{
    @include flexCenterRow();
    background-color: var(--primary);
    .page-title{
        margin: 20px 0;
    }
    .page-title:hover{
        cursor:default;
    }
}
body{
    background: var(--bg);
}
main{
    padding:0 1em;
    .message{
        @include flexCenterRow();
        margin-top:25px;
        margin-bottom:25px;
        font-size: 2rem;
        text-align: center;
    }
    .message:hover{
        cursor:default;
    }
    .grid{
        display:grid;
        grid-template-columns: repeat(3,minmax(75px,1fr));
        grid-template-rows: repeat(3,minmax(75px,1fr));
        border: 2px solid black;
        .grid-item{
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:3rem;
        }
        .grid-item:hover{
            background-color:var(--hover);
        }
        .grid-item:nth-child(n):nth-child(-n+2){
            border-right: 1px solid black;
        }
        .grid-item:nth-child(n+4):nth-child(-n+5){
            border-right: 1px solid black;
        }
        .grid-item:nth-child(n+7):nth-child(-n+8){
            border-right: 1px solid black;
        }
        .grid-item:nth-child(n):nth-child(-n+6){
            border-bottom: 1px solid black;
        }
    }
    .buttons{
        @include flexCenterRow();
        margin-top:2em;
        button{
            font-size:2rem;
            border:none;
            border: 1px solid black;
            border-radius: 1px;
            padding:0 10px;
        }
        button:hover{
            cursor: pointer;
        }
    }
}

footer{
    @include flexCenterRow();
    position:fixed;
    bottom:0;
    width:100%;
    background-color: var(--primary);
    height:50px;
    .footer-strip{
        margin:5px;
        p:hover{
            cursor:default;
        }
    }
}
// small table styles //
@media screen and (min-width:620px){
    main{
        padding: 0 5em;
        .grid{
            position: relative;
            grid-template-columns: repeat(3,minmax(150px,1fr));
            grid-template-rows: repeat(3,minmax(150px,1fr));
            .grid-item{
                font-size:4em;
            }
        }
        .buttons{
            margin-bottom:2em;
        }   
    }
}
/* large tablet and laptops */
@media screen and (min-width:960px){
    main{
        padding:0;
        .grid{
            position: relative;
            left:25%;
            margin:0;
            height:50%;
            width:50%;
            grid-template-columns: repeat(3,minmax(150px,1fr));
            grid-template-rows: repeat(3,minmax(150px,1fr));
            .grid-item{
                font-size:4em;
            }
        }   
    }
}
/* desktop styles */
@media screen and (min-width:1200px){
    main{
        padding:0 20em;
        .message{
            margin-top:1em;
        }
        .grid{
            position: relative;
            left:25%;
            margin-top:2em;
            height:50%;
            width:50%;
            grid-template-columns: repeat(3,minmax(150px,1fr));
            grid-template-rows: repeat(3,minmax(150px,1fr));
            .grid-item{
                font-size:4em;
            }
        }   
        .buttons{
            margin:2em;
            margin-bottom: 4em;
        }
    }
}